<html>
  <head>
    <link rel="stylesheet" href="static/bootstrap.min.css">
      <link rel="stylesheet" href="static/custom.css">
  <script src="static/jquery-3.3.1.min.js"></script>
  <script src="static/bootstrap.min.js"></script>
  <script src="static/custom.js"></script>
    <title>Hydra</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">HYDE - The Measurement Analyzing Tool</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Control Room</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tools
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Add a New Garment</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">About</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Help</a>
      </li>
    </ul>
  </div>
</nav>

<!--End of navigation bar-->

<!--Start body container-->
<div class="w3-container">
  <div class= "row">
    <div class="col-sm-5">
      <div id="video_area">
          <!-- <img id='video_feed' align="left" src="http://localhost:5000/video_feed"> -->
          <!-- <img id='video_feed' src="static/test_image.jpg"/> -->
          <img id='video_feed'>
          video_path
      </div>
      <div id="view_control_area">
        <!--<Button onclick="printStuff()" class="btn btn-primary btn-lg">Change Background</Button>-->

      </div>

    </div>
<!--Start body container-->
    <div class="col-sm-7">
      <div id="view_merasurement_area">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title" id="measurement_title">Measurements Info</h3>
          </div>
          <div class="panel-body">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Actual Measurement</th>
                        <th scope="col">Real Measurement</th>
                        <th scope="col">Validation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                            <td>0</td>
                            <td>0</td>
                            <td>CORRECT</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                            <td>0</td>
                            <td>0</td>
                            <td>CORRECT</td>
                    </tr>
                    <tr>
                         <th scope="row">3</th>
                            <td>0</td>
                            <td>0</td>
                            <td>CORRECT</td>
                    </tr>
                    <tr>
                         <th scope="row">4</th>
                            <td>0</td>
                            <td>0</td>
                            <td>CORRECT</td>
                    </tr>
                    <tr>
                         <th scope="row">5</th>
                            <td>0</td>
                            <td>0</td>
                            <td>CORRECT</td>
                    </tr>
                    <tr>
                         <th scope="row">6</th>
                            <td>0</td>
                            <td>0</td>
                            <td>CORRECT</td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
      <Button onclick="measure()" class="btn btn-primary btn-lg" id="btn_getmeasurements">Get measurements</Button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
        <div id="garment_area">
            <!-- <img id='video_feed' align="left" src="http://localhost:5000/video_feed"> -->

          <h6>Current Garment</h6>
          <img id='garment_image' height="120" width="160" src="static/image002.jpg"/>
        </div>
      </div>
      <div class="col-sm-2">
        <p>Garment Name: FlyKnit Bra</p>
        <p>Added Date: 2018/08/15</p>
        <p>Current Status:In Production</p>
          <p>More info</p>
      </div>
  </div>
 </div>


</body>
</html>
